* {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
  background-color: #282828;
  margin: 0;
}

nav span {
  color: white;
  text-align: center;
  display: inline;
  font-size: 40px;
  font-weight: bold;
  padding: 0px 30px 0px 30px;
  float: left;
}

nav ul {
  padding: 0;
  margin: 0;
  height: 60px;
}

nav ul li {
  color: white;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 15px 0px 0px 0px;
  padding: 0px 30px;
  float: right;

}

nav ul li:hover {
   text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding: 150px 20px 150px 20px;
  background-color: #1BC988;
}

h2 {
  font-size: 25px;
  margin: auto;
  padding: 20px 0px ;
  width: 80%;
}

p {
  font-size: 20px;
  text-align: justify;
  margin: auto;
  padding: 0px 20px 20px 20px;
  width: 80%;
}

#map {
  height: 600px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
